<%- include('../../partials/header.ejs') -%>
<%- include('../../partials/navbar.ejs') -%>

<div class="container">
    <hr>
    <div class="card">
        
        <div class="card-header">
            <h2 class="card-title">Editar artigo</h2>
        </div>
        <div class="card-body">
            <form class="form" action="/articles/save" method="post">


                <input class="form-control mb-3" type="text" name="title" placeholder="defina o titulo do artigo">

                <textarea class="form-control" name="body" placeholder="teste" id="article">

                </textarea>

                <select name="category" class="form-control mt-4">
                    <% categories.forEach(category=>{ %>

                        <% if(category.id == article.categoryId){ %>

                            <option value="<%= category.id %>" selected><%= category.title %> </option>

                        <% }else{ %>

                            <option value="<%= category.id %>"><%= category.title %> </option>

                        <% } %>


                      
                    <% }) %>


                </select>

                <button class="btn btn-success mt-3" type="submit">Atualizar</button>
            </form>
        </div>
    </div>
</div>



<div id="content" style="display: none;">
    <%- article.body %>
</div>



<%- include('../../partials/footer.ejs') -%>

<script src="/tinymce/tinymce.min.js"></script>
<script>

    // link para baixar o tinymce https://www.tiny.cloud/get-tiny/self-hosted/
    //por algum motivo quando eu coloco ele em portugues alguns recurosos deixam de funcionar 
    //então eu vou deixar ele em inglés pra manter os recursos 

    tinymce.init({
        selector: "#article",
        plugins:[
            "lists",
            "advlist",
            "image",
            "print",
            "preview",
            "hr",
            "searchreplace",
            "wordcount",
            "fullscreen",
            "insertdatetime",
            "media",
            "save",
            "table",
            "paste",
            "emoticons"

        ],
        //essa função serve para carregar um função de call back cada vez que o textarea
        //for carregado como eu preciso que ela coloque o body que vem da base de dados 
        //dentro do textarea ja formatado primirro eu fiz uma div que não aprece na pagina 
        //e preeencho ela com os dados do body do artigo
        // e depois eu uso o atributo ->    init_instance_callback:
        //parea executar uma função anonima que pega o conteudo da div content junto com o html dela 
        // e joga tudo pra dentro do textarea formatado usando o id dele 

        init_instance_callback: ()=>{
            tinymce.get("article").setContent($("#content").html())
        }
    }
    
    )

</script>