<%- include('../../partials/header.ejs')%>
<%- include('../../partials/navbar.ejs')%>
<div class="container">
    <hr>
      <h2>Categorias</h2>
      <a href="/admin/categories/new" class="btn btn-success" >Criar nova categoria</a>
    <hr>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Titulo</th>
                <th>Slug</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <!-- Aqui eu faço um forEach no array que veio da rota -->
            <% categories.forEach(category =>{%>

                <tr>
                    <th><%= category.id %></th>
                    <th><%= category.title %></th>
                    <th><%= category.slug %></th>
                    <th>
                        <a class="btn btn-warning" href="/admin/categories/edit/<%= category.id %>" >Editar</a>

                    <!--esse formulario vai mandar a requisição para o metodo delete-->
                    <form action="/categories/delete" method="post" style="display: inline;" onsubmit="confirmarDelecao(event,this)">
                        <!--esse campo vai mandar o id do registro que vai ser apagado-->
                        <input type="hidden" name="id" value="<%= category.id %>" >

                        <!--esse so vai acionar o submit-->
                        <button class="btn btn-danger" >Deletar</button>
                    </form>
                      
                    </th>
                </tr>
            <% }) %>


        </tbody>

    </table>

</div>

<script>

    //executando uma função na pagina

 function confirmarDelecao(event,form){

    event.preventDefault();

    var decisao = confirm("Você deseja apagar essa categoria");

    if(decisao){

        form.submit();

    }




      
 }
</script>





<%- include('../../partials/footer.ejs')%>